<html>
    <body>
        <h1> User Login</h1>
        <form method="post" action="/api/user/login" enctype="multipart/form-data, application/x-www-form-urlencoded">
            <label>Email: </label><input type="email" name="email"><br>
            <label>Password: </label><input type="password" name="password"><br>
            <!-- <label>Role: </label>
            <select name="role">
                <option value="admin">Admin</option>
                <option value="user">User</option>
                <option value="guest">Guest</option>
            </select> -->

            <input   type="submit" value="Login">
        </form>
    </body>
</html>